*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    caret-color: transparent;
    scroll-behavior: smooth;
}
html{
    line-height: 1.15;
}
body{
    background-color: deepskyblue;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Overpass', sans-serif;
    padding: 10px;
}
.header-video{
    position: fixed;
    width: 250vh;
    z-index: -1;
}
.header-video-style{
    width: 100%;
    margin: -10px;
    padding: 0;
}
/* HEADER - IMAGEN DE PRESENTACION  */
header{
    background-image: linear-gradient(180deg, rgb(3, 17, 33), #11101fc5);
    width: 100%;
    height: 250px;
    border-radius: 15px;
}
/* Header - Fondo de Imagen */
.header_container_img{
    background-image: linear-gradient(180deg, rgb(16, 92, 126), #23415a); 
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* centramos el contenedor */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
/* HEADER - IMAGEN */
.header_img_persona{
    width: calc(240px + 20%);
    height: calc(240px + 20%);
    margin-top: 18px;
    border-radius: 300px;
}

/* NAVEGADOR  */
nav{
    text-align: center;
    position: fixed;
    width: calc(120px + 20%);
    height: 75px;
    border-radius: 50px 50px 50px 50px;
    bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 15px rgb(38, 50, 70);
    background-image: linear-gradient(180deg, #ffffffe3, #ffffffe3);
    z-index: 1;
}
ul{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100%;
    padding: 10px;
}
.nav_lista{
    padding: 0 3vw;
}
.nav_icon{
    width: calc(25px + 20%);
}

/* ARTICULO */
article{
    margin-top: 130px;
}
article section{
    text-align: center;
    margin: 30px auto;
}

/* Persona */
#persona h1 {
    font-weight: 700;
    font-size: 5vh;
}
#persona samp{
    font-size: 3vw;
}

/* Proyectos */
#proyectos p {
    margin-bottom: 20px;
}
#proyectos img{
    width: 50px;
} 
.img_1{
    rotate: 60deg;
}
.img_2{
    rotate: 120deg;
}
.problemas_tecnicos{
    width: 40vw;
}
#problemas{
    height: auto;
}

/* Skills */
.conteiner_skills{
    display: flex; 
    flex-wrap: wrap;
    background-color: rgba(25, 31, 49, 0.43);
    /* ajustamos en el eje X */
    justify-content:space-around;
    /* ajustamos en el eje y */
    align-items: center;
    width: 100%;
    padding: 2rem;
    border-radius: 15px;
    margin-top: 1%;
}

/* section profondo */
.black{
    background-color: rgb(24, 26, 28);
}

/* IMAGENES HABILIDADES*/
.image{
    position: relative;
    width: 19vh;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}
.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image__title{
    font-size: 2em;
    font-weight: bold;
}
.image__description{
    font-size: 1.25em;
    margin-top: 1em;
}

.contacto{
    width: 100%;
    height: 150px;
    background-color: #23415a;
}

/* CONTACTO  */

#contacto{
    background-color: rgb(49 25 34 / 60%);    
    padding: 2rem;
    border-radius: 15px;
    margin-top: 1%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    min-width: 30vw;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


/* */
#contacto{
    display: flex;
    justify-content: space-between;
}
#contacto-redes-sociales {
    float: right;
    text-align: end;
    margin: auto 0;
}

#contacto-redes-sociales h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#contacto-redes-sociales ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contacto-redes-sociales li {
    margin-bottom: 5px;
}

#contacto-redes-sociales li img {
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}
.redes{
    margin: 20px 0;
}

/*ubicacion*/
#ubicacion{
    margin-bottom: 14vh;
}
#oculto{
    display: none;
}


/* Media Query */
@media (min-width: 360px){
}
@media (min-width: 400px){
}
@media (min-width: 765px){
}
@media (min-width: 900px) {
    #persona samp{
        font-size: 30px;
    }
    .skill img{
        width: 160px;
    }
    .conteiner_skills{
        height: 315px;
    }
    
}
/* Media Query - Hover */
@media(hover:hover){
    /* Habilidades */
    .image__overlay:hover{
        opacity: 1;
    }
    .image__overlay:hover > *{
        transform: translateY(0);
    }
}
